In [1]:
emp = {"emp_name": "Usama", "age": 19.5, "gender":"Male", "Salary":30000}

In [2]:
emp

{'emp_name': 'Usama', 'age': 19.5, 'gender': 'Male', 'Salary': 30000}

In [3]:
print(emp)

{'emp_name': 'Usama', 'age': 19.5, 'gender': 'Male', 'Salary': 30000}

In [6]:
print(type(emp))

<class 'dict'>

In [7]:
len(emp)

4

In [8]:
emp1 = {"emp_name": "Noman Ahsan", "age": 21, "gender":"Male", "Salary":25000}

In [10]:
print(emp1)

{'emp_name': 'Noman Ahsan', 'age': 21, 'gender': 'Male', 'Salary': 25000}

In [22]:
emp2 = [emp1,emp]

In [15]:
print(emp2)

[{'emp_name': 'Noman Ahsan', 'age': 21, 'gender': 'Male', 'Salary': 25000}]

In [25]:
emp2[1]

{'emp_name': 'Usama', 'age': 19.5, 'gender': 'Male', 'Salary': 30000}

In [19]:
emp3= ["Noman","Ahsan", "Usama"]

In [20]:
emp3[2]

'Usama'

In [26]:
emp['age']

19.5

In [27]:
emp1['age']

21

In [29]:
del emp2[1]

In [30]:
emp2

[{'emp_name': 'Noman Ahsan', 'age': 21, 'gender': 'Male', 'Salary': 25000}]

In [31]:
emp

{'emp_name': 'Usama', 'age': 19.5, 'gender': 'Male', 'Salary': 30000}

In [32]:
emp['emp_name'] = "Usama Bajwa"

In [33]:
emp

{'emp_name': 'Usama Bajwa', 'age': 19.5, 'gender': 'Male', 'Salary': 30000}

In [34]:
emp['age'] = 20

In [35]:
emp

{'emp_name': 'Usama Bajwa', 'age': 20, 'gender': 'Male', 'Salary': 30000}

In [36]:
emp['salary'] = 40000

In [37]:
emp

{'emp_name': 'Usama Bajwa',
 'age': 20,
 'gender': 'Male',
 'Salary': 30000,
 'salary': 40000}

In [38]:
emp['Salary'] = 40000

In [39]:
emp

{'emp_name': 'Usama Bajwa',
 'age': 20,
 'gender': 'Male',
 'Salary': 40000,
 'salary': 40000}

In [40]:
del emp['salary']

In [41]:
emp

{'emp_name': 'Usama Bajwa', 'age': 20, 'gender': 'Male', 'Salary': 40000}

In [42]:
emp["Job"] = ["Web Designer","Junior Web Developer"]

In [43]:
emp

{'emp_name': 'Usama Bajwa',
 'age': 20,
 'gender': 'Male',
 'Salary': 40000,
 'Job': ['Web Designer', 'Junior Web Developer']}

In [44]:
type(emp)

dict

In [45]:
print(emp)

{'emp_name': 'Usama Bajwa', 'age': 20, 'gender': 'Male', 'Salary': 40000, 'Job': ['Web Designer', 'Junior Web Developer']}

In [46]:
dict

dict

In [48]:
type(dict)

type

In [51]:
print(dict)

<class 'dict'>

SyntaxError: invalid syntax (<ipython-input-52-97228e29a507>, line 1)